<!doctype html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>部分品屋</title>

    <link rel= "stylesheet" type= "text/css" href= "./templates/static/style.css">
    <link rel= "stylesheet" type= "text/css" href= "./templates/static/bootstrap.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
  </head>

  <!-- 背景 -->      
  <div class="bg-image">
        <img src="../templates/static/img/bg--img.jpg" class="img-main" alt="background_image">
      </div>



      <!-- メニュー -->
      <body class="d-flex h-100 text-center text-white bg-dark" data-new-gr-c-s-check-loaded="14.1097.0" data-gr-ext-installed="">
    
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <header class="mb-auto">
            <div>
              <h3 class="float-md-start mb-0">部分品屋</h3>
              <nav class="nav-set nav-masthead justify-content-center float-md-end">
                <a class="like-button-set active" aria-current="page" href="/">オンラインショップ</a>
                <button type="button" class="btn-set" data-bs-target="#purchase" data-bs-toggle="modal">買い物カゴ</button>
                    <a class="like-button-set" href="/membership">会員情報</a>
              </nav>
            </div>
          </header>

          <!-- モーダル1 -->
          <div class="modal fade" id="purchase" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="purchase_modal-content-set">

                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">買い物カゴ</h5>
                  <button type="button" class="btn-close-set" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>


<!-- データがあった場合 -->
{% if purchase_list|length != 0 %}

{% for num in range(purchase_list|length) %}
<div class="purchase_modal-body">
    <img src="{{ purchase_list[num][2] }}" class="purchase_modal-img" alt="...">

    <ul>
        <li>
            <p class="name_price left">{{ purchase_list[num][1] }}</p>
        </li>
        <li>
            <p class="name_price right">¥{{ purchase_list[num][3] }}</p>
        </li>
        
        <li>
          
          <div class="purchase_number">
            
            <p class="purchase_number_title">数量：</p>
            <input type="text" value="{{ purchase_list[num][4] }}" id="purchase_total_price{{ num }}">
            <input type="hidden" value="{{ purchase_list[num][0] }}" id="purchase_product_id{{ num }}">

          </div>

        </li>
    </ul>
</div>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div align="right">
  <input type="hidden" value="{{ purchaseLS_len }}" id="purchaseLS_len">
  <input type="button" value="再計算" id="submit" class="purchase_recalculation_btn-set" onclick="send_to_PTPajax()">
</div>

<div class="purchase_total_price">
  <p class="purchase_total_price_setting">合計　¥</p>
  <p id="purchase_total_price" value="{{ num_select }}" class="purchase_total_price_number">{{ total_price }}</p>
</div>



<div class="modal-footer">
  <a class="like-button-set" href="/purchase">購入手続き</a>



  <button type="button" class="btn-set" data-bs-dismiss="modal">閉じる</button>
  
  <!-- <form action="/onlineshop_post" method="POST">
    <button type="submit" class="btn-set" value="product1" name="for_post">カゴに入れる</button>
  </form> -->


</div>

{% elif purchase_list|length == 0 %}

<p>商品を選択してください</p>

<div class="modal-footer">
  <button type="button" class="btn-set" data-bs-dismiss="modal">閉じる</button>
</div>
{% endif %}



              </div>
            </div>
          </div>

                  <script type="text/javascript">
                    function send_to_PTPajax() {

                      // データ受信
                      var purchaseLS_len = $("#purchaseLS_len").val();

                      var list = []
                      for (let num = 0; num <= (purchaseLS_len-1); num++){
                        price_id = '#purchase_total_price' + num
                        price = $(price_id).val()

                        product_id = '#purchase_product_id' + num
                        product_id = $(product_id).val()

                        number_with_tag = product_id + "," + price
                        list.push(number_with_tag);
                        console.log(list);

                        $.ajax("/onlineshop_ajax", {
                          type: "post",
                          data: {"data": list[num]}
                          })        
                          .done(function(received_data) {           // 戻ってきたのはJSON（文字列）
                            var dict = JSON.parse(received_data);   // JSONを連想配列にする
                            var total_price = dict["total_price"];
                            
                            console.log(dict);
                            $("#purchase_total_price").html(total_price);           // html要素を書き換える

                              });
                            };
                          };

                  </script>




          <!-- オンラインページ紹介 -->
          <main class="px-3">
            <h1>部分品屋</h1>
            <p class="lead">部品取り揃えました。</p>

          </main>

          {%- block content %}{% endblock %}

          <p>トップに戻るボタン作成予定</p>
          <p>⭐️ログインid紐付け</p>

                  
        </body>










        <!-- JS -->
        <script src="../templates/static/main.js"></script>
        <script src="../templates/static/bootstrap.min.js"></script>
        <script src="../templates/static/bootstrap.bundle.min.js"></script>
  
        <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
  </html> 